@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="card" style="width: 100%;text-align:left">
        <div class="card-body">
            <h5 class="card-title">Datos Personales</h5>
            <p class="card-text">
                <strong>Materia:</strong> Desarrollo WEB Integral <br/>
                <strong>Profesor:</strong> Ismael Perez Mena<br/>

                <strong>Nombre:</strong> Jessica Guadalupe Delgado Chavez <br/>
                <strong>Grupo:</strong> IDGS903 
                
            </p>
        </div>
    </div>

</div>
